  <div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>Aduit details </nb-card-header>
        <nb-card-body>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Name
                        </th>
                        <th scope="col">Details</th>
                         
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <th scope="row">
                            <p>Service Name  </p>
                        </th>
                        <th scope="row">
                            <p  >{{show_allaudit.serviceName}}</p>
                        </th>
                    </tr>
                    <tr >
                        <th scope="row">
                            <p>Method Name </p>
                        </th>
                        <th scope="row">
                            <p  >{{show_allaudit.methodName}}</p>
                        </th>
                    </tr>
                    <tr >
                        <th scope="row">
                            <p> By  </p>
                        </th>
                        <th scope="row">
                            <p  >{{show_allaudit.createdBy}}</p>
                        </th>
                    </tr>




                    <tr >
                        <th scope="row">
                            <p>On  </p>
                        </th>
                        <th scope="row">
                            <p  >{{show_allaudit.createdOn | timeDate: 'LLL' }}</p>
                        </th>
                    </tr>
                    <tr >
                        <th scope="row">
                            <p>Changed From Json  </p>
                        </th>
                        <th scope="row">
                            <!-- <p  >{{show_allaudit.changedFromJson}}</p> -->
                            <ngx-json-viewer [json]="changedFromJson" [expanded]="false"></ngx-json-viewer>
                        </th>
                    </tr>
                    <tr >
                        <th scope="row">
                            <p>Changed To Json  </p>
                        </th>
                        <th scope="row">
                            <!-- <pre [innerHtml]="show_allaudit.changedToJson "  ></pre> -->
                            <ngx-json-viewer [json]="changedToJson" [expanded]="false"></ngx-json-viewer>
                        </th>
                    </tr>
                  
                    
                    <tr >
                        <th scope="row">
                            <p>Exception Json  </p>
                        </th>
                        <th scope="row">
                            <p  >{{show_allaudit.exceptionJson}}</p>
                        </th>
                    </tr>
                    
                    <tr >
                        <th scope="row">
                            <p>Parameters Json </p>
                        </th>
                        <th scope="row">
                            <p  >{{show_allaudit.parametersJson}}</p>
                        </th>
                    </tr>
                   

                    <!-- <tr >
                        <th scope="row">
                            <p>Update dBy </p>
                        </th>
                        <th scope="row">
                            <p  >{{show_allaudit.updatedBy}}</p>
                        </th>
                    </tr>
                    <tr >
                        <th scope="row">
                            <p>Update On  </p>
                        </th>
                        <th scope="row">
                            <p  >{{show_allaudit.updatedOn |date}}</p>
                        </th>
                    </tr> -->


                    



                  
                </tbody>
            </table>
        </nb-card-body>
      </nb-card>
  
      
    </div>
    </div>