<!-- <div class="form-group">
    <label for="exampleInputEmail1" class="label">Email address</label>
    <input type="email" nbInput fullWidth id="exampleInputEmail1" placeholder="Email">
  </div> -->
  <div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>Agent details of {{show_allagents.name}} </nb-card-header>
        <nb-card-body>
          <form [formGroup]="addagent"  >
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group ">
                      <label for="agentname" class="label  col-form-label">Agent name</label>
                      
                       <input type="input" nbInput fullWidth id="agentname" formControlName="name" readonly  style="color:#000000"  >
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                          <label for="agentname" class="label  col-form-label">Machine name</label>
                          
                           <input type="input" nbInput fullWidth id="agentname" formControlName="machineName"  style="color:#000000"  >
                          </div>
                        </div>
                       
              </div>
              <div class="row">

                <div class="col-md-6">
                  <div class="form-group ">
                    <label for="agentname" class="label  col-form-label">Mac Address </label>
                    
                     <input type="input" nbInput fullWidth id="agentname" formControlName="macAddresses" style="color:#000000"   >
                    </div>
                  </div> 
                <div class="col-md-6">
                    <div class="form-group ">
                      <label for="agentname" class="label  col-form-label">Ip Address </label>
                      
                        <input type="input" nbInput fullWidth id="agentname" formControlName="ipAddresses" style="color:#000000"   >
                      </div>
                    </div>
                  
              </div>
              <div class="row">
                <!-- <div class="col-md-4">
                    <div class="form-group ">
                      <label for="agentname" class="label  col-form-label">Is Deleted</label>
                      
                       <input type="input" nbInput fullWidth id="agentname" formControlName="isDeleted"  >
                      </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group ">
                          <label for="agentname" class="label  col-form-label">Delete on</label>
                          
                           <input type="input" nbInput fullWidth id="agentname" formControlName="deleteOn"  >
                          </div>
                        </div> -->
                        <div class="col-md-6">
                          <div class="form-group ">
                            <label for="agentname" class="label  col-form-label">last Reported Status By</label>
                            
                             <input type="input" nbInput fullWidth id="agentname" formControlName="lastReportedStatus" style="color:#000000"   >
                            </div>
                          </div>
                        
                          <div class="col-md-4">
                              <div class="form-group ">
                                <label for="agentname" class="label  col-form-label">Is Healthy</label>
                                
                                 <input type="input" nbInput fullWidth id="agentname" formControlName="isHealthy" style="color:#000000"   >
                                </div>
                              </div>
                              <div class="col-md-2">
                                <div class="form-group ">
                                  <label for="agentname" class="label  col-form-label">Is Enabled</label>
                                  <div class="checkbox checbox-switch switch-primary">
                                    <label>
                                      <input type="checkbox" name="isAdmin" formControlName="isEnabled"  />
                                      <span></span>
                                    </label>
                                  </div>
                                  </div>
                                </div>
                              <!-- <div class="col-md-4">
                                <div class="form-group ">
                                  <label for="agentname" class="label  col-form-label">Deleted By</label>
                                  
                                   <input type="input" nbInput fullWidth id="agentname" formControlName="deletedBy"  >
                                  </div>
                                </div> -->
                       
              </div>

              <div class="row">
                <div class="col-md-6">
                    <div class="form-group ">
                      <label for="agentname" class="label  col-form-label">last Reported Message</label>
                      
                       <input type="input" nbInput fullWidth id="agentname" formControlName="lastReportedMessage" style="color:#000000"   >
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                          <label for="agentname" class="label  col-form-label">last Reported On</label>
                          
                           <input type="input" nbInput fullWidth id="agentname" formControlName="lastReportedOn"  style="color:#000000"  >
                          </div>
                        </div>
                       
              </div>
             
            
            <!-- <div class="form-group row">
              <div class="offset-sm-3 col-sm-9">
                <button type="submit" nbButton status="primary">Retur</button>
              </div>
            </div> -->
          </form>
        </nb-card-body>
      </nb-card>
  
      
    </div>
    </div>