@media
only screen and (max-width: 750px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr { border: 1px solid #ccc; }
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 20px;
    margin-left: 150px;
  }
  td:before {
    position: absolute;
    top: 12px;
    left: 6px;
    width: 200px;
    padding-right: 40px;
    white-space: nowrap;
    margin-left: -150px;
  }
  td:nth-of-type(1):before { content: "Name"; }
  td:nth-of-type(2):before { content: "SubTopic"; }
  td:nth-of-type(3):before { content: "Event"; }
  td:nth-of-type(4):before { content: "Source";}
  td:nth-of-type(5):before { content: "Priority"; }
  td:nth-of-type(6):before { content: "Queue Item Type"; }
  td:nth-of-type(7):before { content: "Details"; }
  td:nth-of-type(8):before { content: "Edit";}
  td:nth-of-type(9):before { content: "Delete";}
}
.table tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}
// .table tbody tr td:first-child {
//   // color: #3163c4;
// }

.my-icon{
  font-size: 14px;
  color: gray;
  cursor: pointer;
  margin-left: 10px;
}
.paginateDiv{
  text-align: center;
  width: 100%;;
}



.checkbox.checbox-switch {
  padding-left: 0;
}

.checkbox.checbox-switch label,
.checkbox-inline.checbox-switch {
  display: inline-block;
  position: relative;
  padding-left: 0;
}
.checkbox.checbox-switch label input,
.checkbox-inline.checbox-switch input {
  display: none;
}
.checkbox.checbox-switch label span,
.checkbox-inline.checbox-switch span {
  
  width: 45px;
  border-radius: 20px;
  height: 24px;
  border: 1px solid #dbdbdb;
  background-color: #dcd1d1;
  border-color: #f3efef;
  box-shadow: #dfdfdf 0px 0px 0px 0px inset;
  -webkit-transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;
  transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.checkbox.checbox-switch label span:before,
.checkbox-inline.checbox-switch span:before {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgb(255,255,255);
  content: " ";
  top: 0;
  position: relative;
  left: 2px;
  transition: all 0.3s ease;
  box-shadow: 0 1px 4px rgba(0,0,0,0.4);
  top:2px;
}
.checkbox.checbox-switch label > input:checked + span:before,
.checkbox-inline.checbox-switch > input:checked + span:before {
  left: 25px;top:1px;
}

/* Switch Primary */
.checkbox.checbox-switch.switch-primary label > input:checked + span,
.checkbox-inline.checbox-switch.switch-primary > input:checked + span {
  background-color: rgb(0, 105, 217);
  border-color: rgb(0, 105, 217);
  /*box-shadow: rgb(0, 105, 217) 0px 0px 0px 8px inset;*/
  transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
.checkbox.checbox-switch.switch-primary label > input:checked:disabled + span,
.checkbox-inline.checbox-switch.switch-primary > input:checked:disabled + span {
  background-color: rgb(0, 105, 217);
  border-color: rgb(0, 105, 217);
 /* box-shadow: rgb(109, 163, 221) 0px 0px 0px 8px inset;*/
  transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}