<!--
  ~ Copyright (c) Akveo 2019. All Rights Reserved.
  ~ Licensed under the Single Application / Multi Application License.
  ~ See LICENSE_SINGLE_APP / LICENSE_MULTI_APP in the 'docs' folder for license information on type of purchased license.
  -->

 
      <nb-card>
        <nb-card-header>Pending Approvals Members of {{admin_name}}</nb-card-header>
        <nb-card-body>
          <!-- <div class="col-md-12"> -->
            <!-- <h4>Bootstrap Snipp for Datatable</h4> -->
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Email Address</th>
                      <th scope="col" *ngIf="isAdmin=='true'">Accept</th>
                      <th scope="col" *ngIf="isAdmin=='true'">Reject</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let people of pendingRequestList">
                      <th  >{{people.name}}</th>
                      <th >{{people.email}}</th>
                      <td *ngIf="isAdmin =='true'" > 
                        <a  (click)="ApproveRequest(people.id)" class="apr-btnstyle"><img
                          src="../../../assets/images/check-icon.png" alt="Cross Icon" /></a>

                      </td >
                      <td  *ngIf="isAdmin=='true'" >
                        <a (click)="DenyRequest(people.id)" class="apr-btnstyle">
                          <img src="../../../assets/images/cancel-icon.png"
                          alt="Cross Icon" /></a>
                      </td>
                    
                       
                    </tr>
                   
                  </tbody>
                </table>
                
            <!-- </div> -->
        </nb-card-body>
      </nb-card>
     

  