/*!
 * Copyright (c) Akveo 2019. All Rights Reserved.
 * Licensed under the Single Application / Multi Application License.
 * See LICENSE_SINGLE_APP / LICENSE_MULTI_APP in the 'docs' folder for license information on type of purchased license.
 */

 @import '~bootstrap/scss/mixins/breakpoints';
 @import '~@nebular/theme/styles/global/breakpoints';
 
 @import '../../../@theme/styles/themes';
 
 @include nb-install-component() {
   button + button {
     margin-left: 2rem;
   }
 
   @include media-breakpoint-down(xxl) {
     nb-card-body {
       display: flex;
     }
 
     button {
       flex: 1;
       padding: 0.8rem;
     }
   }
 
   @include media-breakpoint-down(is) {
     nb-card-body {
       display: block;
     }
 
     button {
       + button {
         margin-left: 0;
       }
 
       width: 100%;
       display: block;
       margin-bottom: 2rem;
       padding: 0.75rem;
     }
   }
 }

 .container {
  padding: 2rem 0rem;
}

h4 {
  margin: 2rem 0rem 1rem;
}

.table-image {
  td, th {
    vertical-align: middle;
  }
}
.table tbody tr:nth-child(even) {
		background-color: #f1f1f1;
	}
	.table tbody tr td:first-child {
		color: #3163c4;
  }
  



  .material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.tog-btn{
  background-color: green;
}

a.apr-btnstyle:hover{
  text-decoration: none;
}
.apr-btnstyle img{
  width: 24px;
  height: 24px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
 