 
        <nb-card>

            <nb-card-header>
                <div class="row">
                    <div class="col-md-8 col-lg-8 col-xxxl-12"> All Agents</div>

                    <div class="col-md-4 col-lg-4 col-xxxl-12 text-right">
                        <button nbButton (click)="gotoadd()">add agent </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-lg-8 col-xxxl-12">
                    
                    </div>
                    <div class="col-md-4 col-lg-4 col-xxxl-12 top-perpage">
                        <div class="form-group row">
                            <div class="col-md-1"></div>
                            <label for="queueitemtype" class="label col-md-3 col-form-label label-page ">Page Size</label>
                            <div class="col-sm-8">
                                <select class="custom-select" (change)="per_page($event.target.value)">
                                    <option [value]="5"> 5 per page
                                    </option>
                                    <option [value]="10"> 10 per page
                                    </option>
                                    <option [value]="25"> 25 per page
                                    </option>
                                    <option [value]="50"> 50 per page
                                    </option>
                                    <option [value]="100"> 100 per page
                                    </option>
                                </select>
        
                            </div>
                        </div>
                    </div>
                </div>
            </nb-card-header>

            <nb-card-body>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Name <i (click)="onSortClick($event,'MachineName')" class="my-icon fa fa-chevron-up"></i>
                            </th>
                            <th scope="col"> Health  <i (click)="onSortClick($event,'isHealthy')" class="my-icon fa fa-chevron-up"></i></th>
                            <th scope="col">Is Enable <i (click)="onSortClick($event,'isEnabled')" class="my-icon fa fa-chevron-up"></i></th>
                            <th scope="col">View</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let agent of show_allagents | paginate: {id: '1', 
                         itemsPerPage: page.pageSize,
                        currentPage: page.pageNumber,
                        totalItems: page.totalCount}">
                            <th scope="row" *ngIf="agent.name != null ">
                                <p (click)="gotodetail(agent.id)">{{agent?.name}} </p>
                            </th>
                            <th scope="row" *ngIf="agent.name == null ">
                                <p (click)="gotodetail(agent.id)"> No Name </p>
                            </th>

                            <th scope="row" *ngIf="agent.isHealthy == false  ">
                                <p>Not Healthy  
                                     <span *ngIf="agent.lastReportedOn == '0001-01-01T00:00:00 '">
                                    <i > - {{agent.lastReportedOn | timeago}} </i>
                                   </span> </p>
                            </th>
                            <th scope="row" *ngIf="agent.isHealthy == true ">
                                <p> Healthy 
                                   <span *ngIf="agent.lastReportedOn == '0001-01-01T00:00:00 '">
                                    <i > -  {{agent.lastReportedOn | timeago}} </i>
                                   </span> </p>
                            </th>
                            <th scope="row" *ngIf="agent.isHealthy == null ">
                                <p>    </p>
                            </th>

                              
                            <td> 
                                <div class="checkbox checbox-switch switch-primary">
                                    <label>
                                        <input type="checkbox" name="isAdmin" [checked]="agent.isEnabled"
                                            (click)="patch_Agent($event,agent.id)" />
                                        <span></span>
                                    </label>
                                </div>
                            </td>
                            <td>

                                <a (click)="gotodetail(agent.id)">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>

                            </td>
                            <td>

                                <a (click)="gotoedit(agent.id)">
                                    <i class="fa fa-edit">
                                    </i>
                                </a>

                            </td>
                            <td>
                                <!-- ;del_agent(agent.id) -->
                                <a (click)="open2(dialog,agent.id)">
                                    <img src="../../../assets/images/del-icon.png" alt="Delete Icon" />
                                </a>


                            </td>

                        </tr>
                    </tbody>
                </table>



            </nb-card-body>

            <nb-card-body>


                <div class="paginateDiv">
                    <pagination-controls id="1" class="paginateDiv" previousLabel="Prev" nextLabel="Next"
                        responsive="true" (pageChange)="pageChanged($event)"
                        (pageBoundsCorrection)="pageChanged($event)" directionLinks="true" autoHide="true"
                        screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                        screenReaderCurrentLabel="You're on page"></pagination-controls>
                </div>


            </nb-card-body>






        </nb-card>
    


<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>
            <h6> Delete Agent</h6>


        </nb-card-header>
        <nb-card-body>
            <div aria-labelledby="title">

                <p>Are you Sure you want to delete? </p>

            </div>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton status="primary" (click)="del_agent(ref)">
                Yes
            </button>
            <button nbButton style="margin-left: 11px;" (click)="ref.close()">No</button>
        </nb-card-footer>
    </nb-card>
</ng-template>