
 @import '~bootstrap/scss/mixins/breakpoints';
 @import '~@nebular/theme/styles/global/breakpoints';
 
 @import '../../../@theme/styles/themes';
 
 @include nb-install-component() {
   button + button {
     margin-left: 2rem;
   }
 
   @include media-breakpoint-down(xxl) {
     nb-card-body {
       display: flex;
     }
 
     button {
       flex: 1;
       padding: 0.8rem;
     }
   }
 
   @include media-breakpoint-down(is) {
     nb-card-body {
       display: block;
     }
 
     button {
       + button {
         margin-left: 0;
       }
 
       width: 100%;
       display: block;
       margin-bottom: 2rem;
       padding: 0.75rem;
     }
   }
 }

 .container {
  padding: 2rem 0rem;
}
.my-icon{
  font-size: 14px;
  color: gray;
  cursor: pointer;
  margin-left: 10px;
}

h4 {
  margin: 2rem 0rem 1rem;
}

.table-image {
  td, th {
    vertical-align: middle;
  }
}
.table tbody tr:nth-child(even) {
		background-color: #f1f1f1;
	}
	.table tbody tr td:first-child {
		color: #3163c4;
  }
  

  nb-card-body {
    overflow: visible;
    padding-top: 0;
  
    > * {
      margin-top: 1rem;
    }
  }
  
.full-name-inputs,
.validation-checkboxes {
  display: flex;
  margin: 0 -0.5rem;

  > * {
    margin: 0 0.5rem;
  }
}


.checkbox.checbox-switch {
    padding-left: 0;
  }
  
  .checkbox.checbox-switch label,
  .checkbox-inline.checbox-switch {
    display: inline-block;
    position: relative;
    padding-left: 0;
  }
  .checkbox.checbox-switch label input,
  .checkbox-inline.checbox-switch input {
    display: none;
  }
  .checkbox.checbox-switch label span,
  .checkbox-inline.checbox-switch span {
    
    width: 45px;
    border-radius: 20px;
    height: 24px;
    border: 1px solid #dbdbdb;
    background-color: #dcd1d1;
    border-color: #f3efef;
    box-shadow: #dfdfdf 0px 0px 0px 0px inset;
    -webkit-transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
  .checkbox.checbox-switch label span:before,
  .checkbox-inline.checbox-switch span:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgb(255,255,255);
    content: " ";
    top: 0;
    position: relative;
    left: 2px;
    transition: all 0.3s ease;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    top:3px;
  }
  .checkbox.checbox-switch label > input:checked + span:before,
  .checkbox-inline.checbox-switch > input:checked + span:before {
    left: 25px;top:3px;
  }
  
  /* Switch Primary */
  .checkbox.checbox-switch.switch-primary label > input:checked + span,
  .checkbox-inline.checbox-switch.switch-primary > input:checked + span {
    background-color: rgb(0, 105, 217);
    border-color: rgb(0, 105, 217);
    /*box-shadow: rgb(0, 105, 217) 0px 0px 0px 8px inset;*/
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
  }
  .checkbox.checbox-switch.switch-primary label > input:checked:disabled + span,
  .checkbox-inline.checbox-switch.switch-primary > input:checked:disabled + span {
    background-color: rgb(0, 105, 217);
    border-color: rgb(0, 105, 217);
   /* box-shadow: rgb(109, 163, 221) 0px 0px 0px 8px inset;*/
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
  }

  .ngx-pagination {
    padding-left: 0px !important;
  }
  
  .ngx-pagination .current,
  .btn-info {
    background: #17a2b8 !important;
    border: transparent !important;
    border-radius: 20px !important;
  }
  
  .ngx-pagination .current:hover {
    background: #17a2b8 !important;
    border-radius: 20px !important; 
    border: transparent !important;
  }
  .paginateDiv{
    text-align: center;
    width: 100%;;
  }


  .top-perpage{
    top:10px
  }