
<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>Queue Item </nb-card-header>
        <nb-card-body>
          <form [formGroup]="showQueueItemForm" autocomplete="off">
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group ">
                      <label for="name" class="label  col-form-label">Name</label>
                      
                       <input type="input" nbInput fullWidth id="name" formControlName="name">
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                          <label for="subtopic" class="label  col-form-label">Subtopic</label>
                          
                           <input type="input" nbInput fullWidth id="subtopic" formControlName="subtopic"  >
                          </div>
                        </div>
                       
              </div>
              <div class="row">

                <div class="col-md-6">
                  <div class="form-group ">
                    <label for="event" class="label  col-form-label">Event</label>
                     <input type="input" nbInput fullWidth id="event" formControlName="event">
                    </div>
                  </div> 
                <div class="col-md-6">
                    <div class="form-group ">
                      <label for="source" class="label  col-form-label">Source</label>
                      
                        <input type="input" nbInput fullWidth id="source" formControlName="source"  >
                      </div>
                    </div>
                  
              </div>
              <div class="row">
                        <div class="col-md-6">
                          <div class="form-group ">
                            <label for="priority" class="label  col-form-label">Priority</label>
                            
                             <input type="input" nbInput fullWidth id="priority" formControlName="priority"  >
                            </div>
                          </div>
                        
                          <div class="col-md-6">
                              <div class="form-group ">
                                <label for="queueItemType" class="label  col-form-label">Queue Item Type</label>
                                
                                 <input type="input" nbInput fullWidth id="queueItemType" formControlName="queueItemType"  >
                                </div>
                              </div>
              </div>
              <div *ngIf="showQueueItemForm && showQueueItemForm.value.queueItemType == 'Entity'">
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group ">
                      <label for="entityType" class="label  col-form-label">Entity Type</label>
                       <input type="input" nbInput fullWidth id="entityType" formControlName="entityType"  >
                      </div>
                    </div>
                     <div class="col-md-6">
                        <div class="form-group ">
                      <label for="entityStatus" class="label  col-form-label">Entity Status</label>
                       <input type="input" nbInput fullWidth id="entityStatus" formControlName="entityStatus"  >
                      </div>
                    </div>
                        
                       
              </div>
              <div class="row">
                <div class="col-md-12">
                    <div class="form-group ">
                      <label for="dataJSON" class="label  col-form-label">Data Json</label>
                       <textarea type="input" nbInput fullWidth id="dataJSON" formControlName="dataJSON"  ></textarea>
                      </div>
                    </div>
              </div>
            </div>

              <div class="row" *ngIf="showQueueItemForm && showQueueItemForm.value.queueItemType == 'Text'">
                <div class="col-md-12">
                    <div class="form-group ">
                      <label for="dataText" class="label  col-form-label">Data Text</label>
                       <textarea type="input" nbInput fullWidth id="dataText" formControlName="dataText"  >
                           </textarea>
                      </div>
                    </div>

              </div>
             <div class="row">
                <div class="col-md-6">
                    <div class="form-group ">
                      <label for="dontDequeueUntil" class="label  col-form-label">Dont Dequeue Until</label>
                       <input type="input" nbInput fullWidth id="dontDequeueUntil" formControlName="dontDequeueUntil"  >
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                          <label for="dontDequeueAfter" class="label  col-form-label">Dont Dequeue After</label>
                           <input type="input" nbInput fullWidth id="dontDequeueAfter" formControlName="dontDequeueAfter"  >
                          </div>
                        </div>
             </div>

             <div class="row">
                <div class="col-md-6">
                    <div class="form-group ">
                      <label for="isDequeued" class="label  col-form-label">Is Dequeued</label>
                       <input type="input" nbInput fullWidth id="isDequeued" formControlName="isDequeued"  >
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                          <label for="isLocked" class="label  col-form-label">Is Locked</label>
                           <input type="input" nbInput fullWidth id="isLocked" formControlName="isLocked"  >
                          </div>
                        </div>
             </div>

             <div class="row">
                <div class="col-md-6">
                    <div class="form-group ">
                      <label for="lockedOn" class="label  col-form-label">Locked On</label>
                       <input type="input" nbInput fullWidth id="lockedOn" formControlName="lockedOn"  >
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                          <label for="lockedUntil" class="label  col-form-label">Locked Until</label>
                           <input type="input" nbInput fullWidth id="lockedUntil" formControlName="lockedUntil"  >
                          </div>
                        </div>
             </div>

             <div class="row">
                <div class="col-md-6">
                    <div class="form-group ">
                      <label for="lockedBy" class="label  col-form-label">Locked By</label>
                       <input type="input" nbInput fullWidth id="lockedBy" formControlName="lockedBy"  >
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                          <label for="lockTransactionKey" class="label  col-form-label">Lock Transaction Key</label>
                           <input type="input" nbInput fullWidth id="lockTransactionKey" formControlName="lockTransactionKey"  >
                          </div>
                        </div>
             </div>

             <div class="row">
                <div class="col-md-6">
                    <div class="form-group ">
                      <label for="retryCount" class="label  col-form-label">Retry Count</label>
                       <input type="input" nbInput fullWidth id="retryCount" formControlName="retryCount"  >
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                          <label for="lastOccuredError" class="label  col-form-label">Last Occured Error</label>
                           <input type="input" nbInput fullWidth id="lastOccuredError" formControlName="lastOccuredError"  >
                          </div>
                        </div>
             </div>
             <div class="row">
                    <div class="col-md-6">
                        <div class="form-group ">
                          <label for="isError" class="label  col-form-label">Is Error</label>
                           <input type="input" nbInput fullWidth id="isError" formControlName="isError"  >
                          </div>
                        </div>
             </div>
            
   
          </form>
        </nb-card-body>
      </nb-card>
  
      
    </div>
    </div>