<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>Add new Team Member </nb-card-header>
        <nb-card-body>
          <form [formGroup]="userinviteForm">
            <div class="form-group row">
              <label for="agentname" class="label col-sm-3 col-form-label">Name</label>
              <div class="col-sm-9">
                <input type="input" nbInput fullWidth id="agentname" formControlName="name" class="form-control"
                  placeholder="Please enter  name">
                <div *ngIf="f.name.touched && f.name.invalid" class="invalid-feedback-frm">
                  <div *ngIf="f.name.errors && f.name.errors.required"> Name is required.</div>
                  <div *ngIf="f.name.errors.minlength">
                    Name at least 2 characters long.
                  </div>
                  <div *ngIf="f.name.errors.maxlength">
                    Name at least 100 characters long.
                  </div>
                </div>
  
              </div>
            </div>
            <div class="form-group row">
              <label for="email" class="label col-sm-3 col-form-label">Email  </label>
              <div class="col-sm-9">
                <input type="input" nbInput fullWidth id="email" formControlName="email" class="form-control"
                  placeholder="Please enter email">
                <div *ngIf="f.email.touched && f.email.invalid" class="invalid-feedback-frm">
                  <div *ngIf="f.email.errors && f.email.errors.required"> Email is required.</div>
                  <div *ngIf="f.email.errors.pattern">
                    Please enter valid email .
                  </div>
                   
                </div>
  
              </div>
            </div>
  
             
            <div class="form-group row">
              <div class="offset-sm-3 col-sm-9">
                <button type="submit" nbButton status="primary" [disabled]="submitted || !userinviteForm.valid"
                  (click)="onSubmit()">Add
                  Team Member</button>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
  
  
    </div>
  </div>