<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header> {{ title }} Credentials </nb-card-header>
      <nb-card-body>
        <form [formGroup]="credentialForm" autocomplete="off">
          <div class="form-group row">
            <label for="name" class="label col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input
                type="input"
                nbInput
                fullWidth
                id="name"
                formControlName="name"
                placeholder="Please enter name"
                required
              />
              <div
                *ngIf="
                  controls.name.invalid &&
                  (controls.name.dirty || controls.name.touched)
                "
                class="invalid-feedback-frm"
              >
                <div *ngIf="controls.name.errors.required">
                  Name is required.
                </div>
                <div *ngIf="controls.name.errors.minlength">
                  Name must be at least 2 characters long.
                </div>
                <div *ngIf="controls.name.errors.maxlength">
                  Name can be 100 characters long.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="provider" class="label col-sm-2 col-form-label"
              >Provider</label
            >
            <div class="col-sm-10">
              <input
                type="input"
                nbInput
                fullWidth
                id="provider"
                formControlName="provider"
                placeholder="Please enter provider"
              />
              <!-- <div
                *ngIf="
                  controls.subtopic.invalid &&
                  (controls.subtopic.dirty || controls.subtopic.touched)
                "
                class="invalid-feedback-frm"
              >
                <div *ngIf="controls.subtopic.errors.minlength">
                  Subtopic must be at least 1 characters long.
                </div>
                <div *ngIf="controls.subtopic.errors.maxlength">
                  Subtopic can be 100 characters long.
                </div>
              </div> -->
            </div>
          </div>

          <div class="form-group row">
            <label for="domain" class="label col-sm-2 col-form-label"
              >Domain</label
            >
            <div class="col-sm-10">
              <input
                type="input"
                nbInput
                fullWidth
                id="domain"
                formControlName="domain"
                placeholder="Please enter domain"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="userName" class="label col-sm-2 col-form-label"
              >User Name</label
            >
            <div class="col-sm-10">
              <input
                type="input"
                nbInput
                fullWidth
                id="userName"
                formControlName="userName"
                placeholder="Please enter user name"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="passwordSecret" class="label col-sm-2 col-form-label"
              >Password Secret</label
            >
            <div class="col-sm-10">
              <input
                type="password"
                nbInput
                fullWidth
                id="passwordSecret"
                formControlName="passwordSecret"
                placeholder="Please enter password secret"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="startDate" class="label col-sm-2 col-form-label"
              >Start Date</label
            >
            <div class="col-md-10 col-sm-10">
              <!-- <input
                type="datetime"
                nbInput
                fullWidth
                id="startDate"
                formControlName="startDate"
                placeholder="Please enter start date"
              /> -->
              <input
                nbInput
                fullWidth
                placeholder="Please enter start date"
                [nbDatepicker]="picker"
                id="startDate"
                formControlName="startDate"
              />
              <nb-datepicker #picker [min]="min"></nb-datepicker>
            </div>
          </div>
          <div class="form-group row">
            <label for="startDate" class="label col-sm-2 col-form-label"
              >End Date</label
            >
            <div class="col-sm-10">
              <!-- <input
                type="datetime"
                nbInput
                fullWidth
                id="startDate"
                formControlName="startDate"
                placeholder="Please enter end date"
              /> -->
              <input
                nbInput
                fullWidth
                id="endDate"
                formControlName="endDate"
                placeholder="Please enter end date"
                [nbDatepicker]="pick"
              />
              <nb-datepicker #pick [min]="min"></nb-datepicker>
            </div>
          </div>
          <div class="form-group row">
            <label for="certificate" class="label col-sm-2 col-form-label"
              >Certificate</label
            >
            <div class="col-sm-10">
              <textarea
                rows="5"
                type="input"
                nbInput
                fullWidth
                id="certificate"
                formControlName="certificate"
                placeholder="Please enter certificate"
              ></textarea>
            </div>
          </div>

          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button
                class="btn btn-primary"
                (click)="addCredentials()"
                [disabled]="credentialForm.invalid || isSubmitted"
              >
                {{ title }} Credentials
              </button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
