<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Credential </nb-card-header>
      <nb-card-body>
        <form [formGroup]="credentialViewForm" autocomplete="off">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name" class="label col-form-label">Name</label>
                <input
                  type="input"
                  nbInput
                  fullWidth
                  id="name"
                  formControlName="name"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="provider" class="label col-form-label"
                  >Provider</label
                >
                <input
                  type="input"
                  nbInput
                  fullWidth
                  id="provider"
                  formControlName="provider"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="domain" class="label col-form-label">Domain</label>
                <input
                  type="input"
                  nbInput
                  fullWidth
                  id="domain"
                  formControlName="domain"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="userName" class="label col-form-label"
                  >User Name</label
                >
                <input
                  type="input"
                  nbInput
                  fullWidth
                  id="userName"
                  formControlName="userName"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="passwordSecret" class="label col-form-label"
                  >Password Secret</label
                >

                <input
                  type="password"
                  nbInput
                  fullWidth
                  id="passwordSecret"
                  formControlName="passwordSecret"
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="passwordHash" class="label col-form-label"
                  >Password Hash</label
                >

                <input
                  type="input"
                  nbInput
                  fullWidth
                  id="passwordHash"
                  formControlName="passwordHash"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="certificate" class="label col-form-label"
                  >Certificate</label
                >

                <input
                  type="password"
                  nbInput
                  fullWidth
                  id="certificate"
                  formControlName="certificate"
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="timestamp" class="label col-form-label"
                  >Time Stamp</label
                >

                <input
                  type="input"
                  nbInput
                  fullWidth
                  id="timestamp"
                  formControlName="timestamp"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="startDate" class="label col-form-label"
                  >Start Date</label
                >
                <input
                  type="datetime"
                  nbInput
                  fullWidth
                  id="startDate"
                  formControlName="startDate"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="endDate" class="label col-form-label"
                  >End Date</label
                >
                <input
                  type="datetime"
                  nbInput
                  fullWidth
                  id="endDate"
                  formControlName="endDate"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="createdBy" class="label col-form-label"
                  >Created By</label
                >
                <input
                  type="input"
                  nbInput
                  fullWidth
                  id="createdBy"
                  formControlName="createdBy"
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="createdOn" class="label col-form-label"
                  >Created On</label
                >
                <input
                  type="input"
                  nbInput
                  fullWidth
                  id="createdOn"
                  formControlName="createdOn"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="deletedBy" class="label col-form-label"
                  >Deleted By</label
                >
                <input
                  type="input"
                  nbInput
                  fullWidth
                  id="deletedBy"
                  formControlName="deletedBy"
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="deleteOn" class="label col-form-label"
                  >Delete On</label
                >
                <input
                  type="input"
                  nbInput
                  fullWidth
                  id="deleteOn"
                  formControlName="deleteOn"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="updatedBy" class="label col-form-label"
                  >Updated By</label
                >
                <input
                  type="input"
                  nbInput
                  fullWidth
                  id="updatedBy"
                  formControlName="updatedBy"
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="updatedOn" class="label col-form-label"
                  >Updated On</label
                >
                <input
                  type="input"
                  nbInput
                  fullWidth
                  id="updatedOn"
                  formControlName="updatedOn"
                />
              </div>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
