
<div class="row">
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <nb-card>
      <nb-card-header>Terms and Conditions</nb-card-header>
      <nb-card-body>
        <p>Please view, print or save the documents linked below</p>
        <p><a href="https://www.automationnavigator.com/TermsOfUse">Terms of Use</a><span>Updated April 1,
            2020</span>
        </p>
        <p><a href="https://www.automationnavigator.com/Privacy">Privacy Policy</a><span>Updated April 1,
            2020</span></p>
        <p>By clicking ‘Accept’, I hereby</p>
        <ul>
          <li>Agree and consent to the 'Terms of Use'</li>
          <li>Agree and consent to the 'Privacy Policy'</li>
        </ul>
        <p>

          <button color="primary" class="add-btn" (click)="accpetTerms()">
            Accept
          </button>
          <button color="warning" class="rej-btn" (click)="rejectTerms()">
            Reject
          </button>
          <button class="add-btn termLogout mat-flat-button mat-primary">Logout</button>
        </p>

      </nb-card-body>
    </nb-card>
  </div>


</div>