<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>Add new Asset </nb-card-header>
        <nb-card-body>
          <form [formGroup]="addasset">
            <div class="form-group row">
              <label for="agentname" class="label col-sm-3 col-form-label"> Asset Name</label>
              <div class="col-sm-9">
                <input type="input" nbInput fullWidth id="agentname" formControlName="name" class="form-control"
                  placeholder="Please enter  Asset name">
                <div *ngIf="f.name.touched && f.name.invalid" class="invalid-feedback-frm">
                  <div *ngIf="f.name.errors && f.name.errors.required"> Asset Name is required.</div>
                  <div *ngIf="f.name.errors.minlength">
                    Agent Name at least 2 characters long.
                  </div>
                  <div *ngIf="f.name.errors.maxlength">
                    Agent Name at least 100 characters long.
                  </div>
                </div>
  
              </div>
            </div>
            <div  class="form-group row">
              <label for="queueitemtype" class="label col-sm-3 col-form-label">Please Select Type</label>
              <div class="col-sm-9"> 
              <select  class="custom-select" formControlName="type" (change)="get_val($event.target.value)" >
                <option value ='' [disabled]='true' selected>Please select</option>
                  <option *ngFor="let item of value" [value]="item"  >{{item}}</option>
              </select>
              <div *ngIf="f.type.touched && f.type.invalid" class="invalid-feedback-frm">
                <div *ngIf="f.type.errors && f.type.errors.required"> Type is required.</div>
              </div>
              <!-- <div *ngIf="controls.queueID.invalid && (controls.queueID.dirty || controls.queueID.touched)"
              class="invalid-feedback-frm">
            <div *ngIf="controls.name.errors.required">
              Queue is required.
            </div>
          </div> -->
              </div>
                </div>
            <div class="form-group row" *ngIf="json">
              <label for="JsonValue" class="label col-sm-3 col-form-label">Json </label>
              <div class="col-sm-9">
                <textarea type="input"  rows="10" nbInput fullWidth id="JsonValue" formControlName="JsonValue" class="form-control"
                  placeholder="Please enter Json"></textarea>
                <div *ngIf="f.JsonValue.touched && f.JsonValue.invalid" class="invalid-feedback-frm">
                  <div *ngIf="f.JsonValue.errors && f.JsonValue.errors.required"> Json is required.</div>
                  <div *ngIf="f.JsonValue.errors.minlength">
                    Json at least 2 characters long.
                  </div>
                  <div *ngIf="f.JsonValue.errors.maxlength">
                    Json at least 100 characters long.
                  </div>
                </div>
  
              </div>
            </div>



            <div class="form-group row" *ngIf="textvalue">
              <label for="TextValue" class="label col-sm-3 col-form-label">Text  </label>
              <div class="col-sm-9">
                <textarea type="input" rows="10" nbInput fullWidth id="TextValue" formControlName="TextValue" class="form-control"
                  placeholder="Please enter text value"> </textarea>
                <div *ngIf="f.TextValue.touched && f.TextValue.invalid" class="invalid-feedback-frm">
                  <div *ngIf="f.TextValue.errors && f.TextValue.errors.required"> Text  is required.</div>
                  <div *ngIf="f.TextValue.errors.minlength">
                    Text at least 2 characters long.
                  </div>
                  <div *ngIf="f.TextValue.errors.maxlength">
                    Text at least 100 characters long.
                  </div>
                </div>
  
              </div>
            </div>




            <div class="form-group row" *ngIf="numbervalue">
              <label for="NumberValue" class="label col-sm-3 col-form-label">Number  </label>
              <div class="col-sm-9">
                <input type="text" nbInput fullWidth id="NumberValue"  formControlName="NumberValue" class="form-control"
                  placeholder="Please enter number "> 
                <div *ngIf="f.NumberValue.touched && f.NumberValue.invalid" class="invalid-feedback-frm">
                 
                  <div *ngIf=" f.NumberValue.errors.required"> Number is required.</div>
              
  
                  <div *ngIf="f.NumberValue.errors.pattern">Enter only number.</div>
                 
                </div>

<!-- 
                <div *ngIf="f.number.touched && f.number.invalid" class="alert alert-danger">

                  <div *ngIf="f.number.errors.required">Number is required.</div>
  
                  <div *ngIf="f.number.errors.pattern">Enter only number.</div>
  
              </div> -->
  
              </div>
            </div>
            
            <div class="form-group row">
              <div class="offset-sm-3 col-sm-9">
                <button type="submit" nbButton status="primary" [disabled]="submitted || !addasset.valid"
                  (click)="onSubmit()">Add
                  Asset</button>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
  
  
    </div>
  </div>