<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>Update Asset Details </nb-card-header>
        <nb-card-body>
          <form [formGroup]="assetagent"  >
            <div class="form-group row">
              <label for="agentname" class="label col-sm-3 col-form-label">Asset name</label>
              <div class="col-sm-9">
                <input type="input" nbInput fullWidth id="agentname" formControlName="name" class="form-control"
                  placeholder="Please enter Asset name">
                <div *ngIf="f.name.touched && f.name.invalid" class="invalid-feedback-frm">
                  <div *ngIf="f.name.errors && f.name.errors.required"> Asset name is required.</div>
                </div>
                <!-- <div *ngIf="submitted && f.name.errors || f.name.touched || f.name.dirty" class="invalid-feedback">
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors || f.name.touched || f.name.dirty || f.name.value == '' || !f.name.value  }" 
                    <div *ngIf="f.name.errors?.required">Agent Name is required</div>
                </div> -->
              </div>
            </div>
            <div class="form-group row">
              <label for="macaddress" class="label col-sm-3 col-form-label">Type</label>
              <div class="col-sm-9">
                <input type="input" nbInput fullWidth id="type" formControlName="type"
                  class="form-control"
                  placeholder="Please enter Type">
                
  
                <div *ngIf="f.type.touched && f.type.invalid" class="invalid-feedback-frm">
                  <div *ngIf="f.type.errors && f.type.errors.required"> Type is required.</div>
                </div>
              </div>
            </div>
            <div class="form-group row" *ngIf="show_allagents.type == 'Number'">
              <label for="numberValue" class="label col-sm-3 col-form-label">Number </label>
              <div class="col-sm-9">
                <textarea type="input" nbInput fullWidth id="numberValue" formControlName="numberValue" class="form-control"
                  placeholder="Please enter machine name"></textarea>
                  <div *ngIf="f.numberValue.touched && f.numberValue.invalid" class="invalid-feedback-frm">
                    <div *ngIf="f.numberValue.errors && f.numberValue.errors.required"> Number is required.</div>
                  </div>
               
              </div>
            </div>


            <div class="form-group row" *ngIf="show_allagents.type == 'JSON'">
              <label for="jsonValue" class="label col-sm-3 col-form-label">Json </label>
              <div class="col-sm-9">
                <textarea type="input" rows="10" nbInput fullWidth id="jsonValue" formControlName="jsonValue" class="form-control"
                  placeholder="Please enter Json "></textarea>
                  <ngx-json-viewer [json]="jsonValue" [expanded]="false"></ngx-json-viewer>
                  <div *ngIf="f.jsonValue.touched && f.jsonValue.invalid" class="invalid-feedback-frm">
                    <div *ngIf="f.jsonValue.errors && f.jsonValue.errors.required"> Json is required.</div>
                  </div>
               
              </div>
            </div>


            <div class="form-group row" *ngIf="show_allagents.type == 'Text'">
              <label for="textValue" class="label col-sm-3 col-form-label">Text </label>
              <div class="col-sm-9">
                <textarea type="input" rows="10" nbInput fullWidth id="textValue" formControlName="textValue" class="form-control"
                  placeholder="Please enter text value"></textarea>
                  <div *ngIf="f.textValue.touched && f.textValue.invalid" class="invalid-feedback-frm">
                    <div *ngIf="f.textValue.errors && f.textValue.errors.required"> Text is required.</div>
                  </div>
               
              </div>
            </div>



            <!-- <div class="col-md-12" *ngIf="show_allagents.type == 'Number'" >
              <div class="form-group ">
                <label for="agentname" class="label  col-form-label">Number </label>
            
                 <input type="input" nbInput fullWidth id="numberValue" formControlName="numberValue" style="color:#000000"  >
           
               
                </div>
              </div>




              <div class="col-md-12" *ngIf="show_allagents.type == 'Text'" >
                <div class="form-group ">
                  <label for="agentname" class="label  col-form-label">Text </label>
                 
                   <textarea rows="10" type="input" nbInput fullWidth id="textValue" formControlName="textValue"  style="color:#000000" >
                     </textarea>

           
                   
                  </div>
                </div>


              <div class="col-md-12" *ngIf="show_allagents.type == 'JSON'" >
                <div class="form-group ">
                  <label for="agentname" class="label  col-form-label">Value Json</label>
                  <p class="p-text">
                    
                   <ngx-json-viewer [json]="jsonValue" [expanded]="false"></ngx-json-viewer>
                   </p>
                  </div>
                </div> -->



            <!-- <div class="row" >

 

              <div class="col-md-12" *ngIf="show_allagents.type == 'Number'" >
               <div class="form-group ">
                 <label for="agentname" class="label  col-form-label">Number </label>
             
                  <input type="input" nbInput fullWidth id="numberValue" formControlName="numberValue" style="color:#000000"  >
            
                
                 </div>
               </div>




               <div class="col-md-12" *ngIf="show_allagents.type == 'Text'" >
                 <div class="form-group ">
                   <label for="agentname" class="label  col-form-label">Text </label>
                  
                    <textarea rows="10" type="input" nbInput fullWidth id="textValue" formControlName="textValue"  style="color:#000000" >
                      </textarea>

            
                    
                   </div>
                 </div>


               <div class="col-md-12" *ngIf="show_allagents.type == 'JSON'" >
                 <div class="form-group ">
                   <label for="agentname" class="label  col-form-label">Value Json</label>
                   <p class="p-text">
                     
                    <ngx-json-viewer [json]="jsonValue" [expanded]="false"></ngx-json-viewer>
                    </p>
                   </div>
                 </div>
               
           </div> -->
  
      
             
  
         
            <div class="form-group row">
              <div class="offset-sm-3 col-sm-9">
                <button type="submit" nbButton status="primary" (click)="onSubmit()" >Update 
                  Asset</button>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
  
  
    </div>
  </div>