<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>{{title}} Queue Item </nb-card-header>
        <nb-card-body>
          <form [formGroup]="queueItemForm" autocomplete="off">
            <div  class="form-group row">
              <label for="queueitemtype" class="label col-sm-2 col-form-label">Please Select Queue</label>
              <div class="col-md-10 col-lg-10 col-xxxl-12"> 
              <select  class="custom-select" formControlName="queueID" >
                <option value ='' [disabled]='true' selected>Please select</option>
                  <option *ngFor="let item of queuesArr" [value]="item?.id" >{{item?.name}}</option>
              </select>
              <div *ngIf="controls.queueID.invalid && (controls.queueID.dirty || controls.queueID.touched)"
              class="invalid-feedback-frm">
            <div *ngIf="controls.name.errors.required">
              Queue is required.
            </div>
          </div>
              </div>
                </div>
            <div class="form-group row">
              <label for="name" class="label col-sm-2 col-form-label">Name</label>
              <div class="col-sm-10">
                <input type="input" nbInput fullWidth id="name" formControlName="name"
                placeholder="Please enter name" required>
                <div *ngIf="controls.name.invalid && (controls.name.dirty || controls.name.touched)"
                class="invalid-feedback-frm">
              <div *ngIf="controls.name.errors.required">
                Name is required.
              </div>
              <div *ngIf="controls.name.errors.minlength">
                Name must be at least 2 characters long.
              </div>
              <div *ngIf="controls.name.errors.maxlength">
                Name can be 100 characters long.
              </div>
            </div>
              </div>
            
            </div>
            <div class="form-group row">
              <label for="subtopic" class="label col-sm-2 col-form-label">Subtopic</label>
              <div class="col-sm-10">
                <input type="input" nbInput fullWidth id="subtopic" formControlName="subtopic"
                 placeholder="Please enter subtopic">
                 <div *ngIf="controls.subtopic.invalid && (controls.subtopic.dirty || controls.subtopic.touched)"
                 class="invalid-feedback-frm">
               <div *ngIf="controls.subtopic.errors.minlength">
                Subtopic must be at least 1 characters long.
               </div>
               <div *ngIf="controls.subtopic.errors.maxlength">
                Subtopic can be 100 characters long.
               </div>
             </div>
              </div>
            </div>

            <div class="form-group row">
                <label for="event" class="label col-sm-2 col-form-label">Event</label>
                <div class="col-sm-10">
                  <input type="input" nbInput fullWidth id="event" formControlName="event"
                  placeholder="Please enter event">
                  <div *ngIf="controls.event.invalid && (controls.event.dirty || controls.event.touched)"
                  class="invalid-feedback-frm">
                <div *ngIf="controls.event.errors.minlength">
                  Event must be at least 2 characters long.
                </div>
                <div *ngIf="controls.event.errors.maxlength">
                  Event can be 100 characters long.
                </div>
              </div>
                </div>
              </div>


              <div class="form-group row">
                <label for="source" class="label col-sm-2 col-form-label">Source</label>
                <div class="col-sm-10">  
                  <input type="input" nbInput fullWidth id="source" formControlName="source"
                  placeholder="Please enter source">
                  <div *ngIf="controls.source.invalid && (controls.source.dirty || controls.source.touched)"
                  class="invalid-feedback-frm">
                <div *ngIf="controls.source.errors.minlength">
                  Source must be at least 1 characters long.
                </div>
                <div *ngIf="controls.source.errors.maxlength">
                  Source can be 100 characters long.
                </div>
              </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="priority" class="label col-sm-2 col-form-label">Priority</label>
                <div class="col-sm-10">  
                  <input type="number" nbInput fullWidth id="priority" formControlName="priority"
                  placeholder="Please enter priority">
                  <div *ngIf="controls.priority.invalid && (controls.priority.dirty || controls.priority.touched)"
                  class="invalid-feedback-frm">
                    <div *ngIf="controls.priority.errors.pattern">
                      Priority value between 1-99
                    </div> 
              </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="queueitemtype" class="label col-sm-2 col-form-label">Queue Item Type</label>
                <div class="col-sm-10"> 
                <select  class="custom-select" formControlName="queueItemType" (change)="onQueueItemchange()"
                 placeholder="Please Choose queue item type">
                  <option value="" disabled=true selected>Please choose queue item type</option>
                    <option *ngFor="let item of queueItemsType" [value]="item" >{{item}}</option>
                </select>
                <div *ngIf="controls.queueItemType.invalid && (controls.queueItemType.dirty || controls.queueItemType.touched)"
                class="invalid-feedback-frm">
              <div *ngIf="controls.queueItemType.errors.required">
                Queue Item Type is required.
              </div>
            </div>
                </div>
              </div>

              <div *ngIf="queueItemForm && queueItemForm.value.queueItemType == 'Entity'">
              <div class="form-group row">
                <label for="priority" class="label col-sm-2 col-form-label">Entity Type</label>
                <div class="col-sm-10">  
                  <input type="input" nbInput fullWidth id="priority" formControlName="entityType"
                  placeholder="Please enter entity type">
                  <!-- <div *ngIf="controls.entityType.invalid && (controls.entityType.dirty || controls.entityType.touched)"
                  class="invalid-feedback-frm">
                <div *ngIf="controls.entityType.errors.required">
                  Entity Type is required.
                </div>
                <div *ngIf="controls.entityType.errors.minlength">
                  Entity Type at least 2 characters long.
                </div>
                <div *ngIf="controls.entityType.errors.maxlength">
                  Entity Type can be 100 characters long.
                </div>
              </div> -->
                </div>
              </div>

              <div class="form-group row">
                <label for="priority" class="label col-sm-2 col-form-label">Entity Status</label>
                <div class="col-sm-10">  
                  <input type="input" nbInput fullWidth id="priority" formControlName="entityStatus"
                  placeholder="Please enter entity status">
                  <!-- <div *ngIf="controls.entityStatus.invalid && (controls.entityStatus.dirty || controls.entityStatus.touched)"
                  class="invalid-feedback-frm">
                <div *ngIf="controls.entityStatus.errors.required">
                  EntityStatus is required.
                </div>
                <div *ngIf="controls.entityStatus.errors.minlength">
                  Entity Status at least 2 characters long.
                </div>
                <div *ngIf="controls.entityStatus.errors.maxlength">
                  Entity Status at least 100 characters long.
                </div>
              </div> -->
                </div>
              </div>

              <div class="form-group row">
                <label for="priority" class="label col-sm-2 col-form-label">Data JSON</label>
                <div class="col-sm-10">  
                  <textarea type="input" nbInput fullWidth id="priority" formControlName="dataJSON"
                  placeholder="Please enter data json"></textarea>
                  <!-- <div *ngIf="controls.dataJSON.invalid && (controls.dataJSON.dirty || controls.dataJSON.touched)"
                  class="invalid-feedback-frm">
                <div *ngIf="controls.dataJSON.errors.required">
                  Data JSON is required.
                </div>
                <div *ngIf="controls.dataJSON.errors.minlength">
                  Data JSON at least 2 characters long.
                </div>
                <div *ngIf="controls.dataJSON.errors.maxlength">
                  Data JSON can be 100 characters long.
                </div>
              </div> -->
                </div>
              </div>
            </div>

            <div *ngIf="queueItemForm && queueItemForm.value.queueItemType == 'Text'">
              <div class="form-group row">
                <label for="priority" class="label col-sm-2 col-form-label">Data Text</label>
                <div class="col-sm-10">  
                  <textarea type="input" nbInput fullWidth id="priority" formControlName="dataText"
                  placeholder="Please enter data text"></textarea>
                  <!-- <div *ngIf="controls.dataText.invalid && (controls.dataText.dirty || controls.dataText.touched)"
                  class="invalid-feedback-frm">
                <div *ngIf="controls.dataText.errors.required">
                  Data Text is required.
                </div>
                <div *ngIf="controls.dataText.errors.minlength">
                  Data Text at least 2 characters long.
                </div>
                <div *ngIf="controls.dataText.errors.maxlength">
                  Data Text can be 100 characters long.
                </div>
              </div> -->
                </div>
              </div>
            </div>
            <!-- <div class="form-group row">
              <label for="priority" class="label col-sm-2 col-form-label">Dont Dequeue Until</label>
              <div class="col-sm-10">  
                <input type="input" nbInput fullWidth id="priority" formControlName="dontDequeueUntil"
                placeholder="Please enter dont dequeue until">
              </div>
            </div>
            <div class="form-group row">
              <label for="priority" class="label col-sm-2 col-form-label">Dont Dequeue After</label>
              <div class="col-sm-10">  
                <input type="input" nbInput fullWidth id="priority" formControlName="dontDequeueAfter"
                placeholder="Please enter dont dequeue after">
              </div>
            </div> -->
            <div class="form-group row">
              <div class="offset-sm-3 col-sm-9">
                <button type="submit" class="btn btn-primary" status="primary" 
                [disabled]="queueItemForm.invalid || isSubmitted"
                (click)="addQueueItem()">{{btnText}} Item</button>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
    </div>