<!-- 
  ~ Copyright (c) Akveo 2019. All Rights Reserved.
  ~ Licensed under the Single Application / Multi Application License.
  ~ See LICENSE_SINGLE_APP / LICENSE_MULTI_APP in the 'docs' folder for license information on type of purchased license.
  -->

 
    <nb-card>

      <nb-card-header>
        <div class="row">
          <div class="col-md-8 col-lg-8 col-xxxl-12"> Members of {{admin_name}}</div>

          <div class="col-md-4 col-lg-4 col-xxxl-12 text-right">
            <button nbButton (click)="gotoadd()">add user </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-lg-8 col-xxxl-12">
          
          </div>
          <div class="col-md-4 col-lg-4 col-xxxl-12 top-perpage">
              <div class="form-group row">
                  <div class="col-md-1"></div>
                  <label for="queueitemtype" class="label col-md-3 col-form-label label-page ">Page Size</label>
                  <div class="col-sm-8">
                      <select class="custom-select" (change)="per_page($event.target.value)">
                          <option [value]="5"> 5 per page
                          </option>
                          <option [value]="10"> 10 per page
                          </option>
                          <option [value]="25"> 25 per page
                          </option>
                          <option [value]="50"> 50 per page
                          </option>
                          <option [value]="100"> 100 per page
                          </option>
                      </select>

                  </div>
              </div>
          </div>
      </div>

      </nb-card-header>

      <nb-card-body>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Name <i (click)="onSortClick($event,'name')" class="my-icon fa fa-chevron-up"></i></th>
              <th scope="col" *ngIf="isAdmin == 'true'">Is Admin</th>
              <th scope="col">Email Address <i (click)="onSortClick($event,'emailAddress')" class="my-icon fa fa-chevron-up"></i></th>
              <th scope="col">Status <i (click)="onSortClick($event,'status')" class="my-icon fa fa-chevron-up"></i></th>
              <th scope="col" *ngIf="isAdmin == 'true'">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let people of get_allpeople  | paginate: {id: '1', 
            itemsPerPage: page.pageSize,
           currentPage: page.pageNumber,
           totalItems: page.totalCount}">
              <th scope="row">{{people.name}}</th>
              <td *ngIf="isAdmin == 'true'">
                 
                <div class="checkbox checbox-switch switch-primary">
                  <label>
                      <input type="checkbox" name="isAdmin"   (change)="onChange($event,people.personId)"  [checked]="people.isAdmin" [disabled]="people.personId == AmIAdmin" />
                      <span></span>                                        
                  </label>
               </div>

                <!-- [disabled]="people.personId == AmIAdmin" -->
              </td>
              <td>{{people.emailAddress}}</td>
              <td>{{people.status}}</td>
              <td *ngIf="isAdmin == 'true'">
                  <a (click)="deleteUser(people.organizationMemberId)" [disabled]="people.personId == AmIAdmin"
                  class="apr-btnstyle">
                  <img src="../../../assets/images/del-icon.png" alt="Delete Icon" /></a>

              </td>
            </tr>

          </tbody>
        </table>


      </nb-card-body>
      
      <nb-card-body>


        <div class="paginateDiv">
            <pagination-controls id="1" class="paginateDiv" previousLabel="Prev" nextLabel="Next"
                responsive="true" (pageChange)="pageChanged($event)"
                (pageBoundsCorrection)="pageChanged($event)" directionLinks="true" autoHide="true"
                screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                screenReaderCurrentLabel="You're on page"></pagination-controls>
        </div>


    </nb-card-body>
    </nb-card>
   

<!-- <ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      <h5>Invite New User </h5>
      <p>An email will be sent to the user for signup on OpenBots.
      </p>

    </nb-card-header>
    <nb-card-body>
      <div [formGroup]="userinviteForm" aria-labelledby="title">

        <div class="row">
          <div class="col-lg-12">

            <div class="form-control-group">
              <label for="input-dpt-name">Name</label>

              <input nbInput autofocus fullWidth fieldSize="large" id="input-name" formControlName="name"
                [status]="name.dirty ? (name.invalid  ? 'danger' : 'success') : ''"
                [attr.aria-invalid]="name.invalid && name.touched ? true : null" placeholder="Please enter name">

              <ngx-validation-message label="Name" [showMinLength]="name?.hasError('minlength') && name.touched"
                [showMaxLength]="name?.hasError('maxlength') && name.touched" [minLength]="2" [maxLength]="20"
                [showRequired]="name?.errors?.required && name.touched">
              </ngx-validation-message>
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-lg-12">
            <div class="form-control-group">
              <label for="input-email">Email</label>
              <input nbInput autofocus fullWidth fieldSize="large" id="input-email" formControlName="email"
                [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
                [attr.aria-invalid]="email.invalid && email.touched ? true : null"
                placeholder="Please enter email address">
              <ngx-validation-message label="Email address" [showPattern]="email?.hasError('pattern') && email.touched"
                [showRequired]="email?.errors?.required && email.touched"></ngx-validation-message>
            </div>
          </div>
        </div>
</div>
</nb-card-body>
    <nb-card-footer>
      <button nbButton status="primary" [disabled]="submitted || !userinviteForm.valid" [class.btn-pulse]="submitted"
        (click)="invUser(ref,dialog)">
        Send Invite
      </button>
      <button nbButton style="margin-left: 11px;" (click)="ref.close()">Close</button>
    </nb-card-footer>
  </nb-card>
</ng-template> -->