<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Add new agent </nb-card-header>
      <nb-card-body>
        <form [formGroup]="addagent">
          <div class="form-group row">
            <label for="agentname" class="label col-sm-3 col-form-label">Agent name</label>
            <div class="col-sm-9">
              <input type="input" nbInput fullWidth id="agentname" formControlName="name" class="form-control"
                placeholder="Please enter agent name">
              <div *ngIf="f.name.touched && f.name.invalid" class="invalid-feedback-frm">
                <div *ngIf="f.name.errors && f.name.errors.required"> Agent name is required.</div>
                <div *ngIf="f.name.errors.minlength">
                  Agent Name at least 2 characters long.
                </div>
                <div *ngIf="f.name.errors.maxlength">
                  Agent Name at least 100 characters long.
                </div>
              </div>

            </div>
          </div>
          <div class="form-group row">
            <label for="machinename" class="label col-sm-3 col-form-label">Machine name</label>
            <div class="col-sm-9">
              <input type="input" nbInput fullWidth id="machineName" formControlName="machineName" class="form-control"
                placeholder="Please enter machine name">
              <div *ngIf="f.machineName.touched && f.machineName.invalid" class="invalid-feedback-frm">
                <div *ngIf="f.machineName.errors && f.machineName.errors.required"> Machine name is required.</div>
                <div *ngIf="f.machineName.errors.minlength">
                  Machine Name at least 2 characters long.
                </div>
                <div *ngIf="f.machineName.errors.maxlength">
                  Machine Name at least 100 characters long.
                </div>
              </div>

            </div>
          </div>

          <div class="form-group row">
            <label for="macaddress" class="label col-sm-3 col-form-label">Mac Addresses</label>
            <div class="col-sm-9">
              <input type="input" nbInput fullWidth id="macAddresses" formControlName="macAddresses"
                class="form-control" placeholder="Please enter macaddress">


              <div *ngIf="f.macAddresses.touched && f.macAddresses.invalid" class="invalid-feedback-frm">
                <div *ngIf="f.macAddresses.errors && f.macAddresses.errors.required"> Mac Address is required.</div>
              </div>
            </div>
          </div>


          <div class="form-group row">
            <label for="ipadd" class="label col-sm-3 col-form-label">Ip Address</label>
            <div class="col-sm-9">
              <input type="input" nbInput fullWidth id="ipAddresses" formControlName="ipAddresses" class="form-control"
                placeholder="Please enter ipAddress">

              <div *ngIf="f.ipAddresses.touched && f.ipAddresses.invalid" class="invalid-feedback-frm">
                <div *ngIf="f.ipAddresses.errors && f.ipAddresses.errors.required"> IpAddress is required.</div>
              </div>
            </div>
          </div>



          <div class="form-group row">
            <label class="col-sm-3 label">Enabled</label>
            <div class="col-sm-9">
              <div class="checkbox checbox-switch switch-primary">
                <label>
                  <input type="checkbox" name="isAdmin" formControlName="isEnabled" />
                  <span></span>
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit" nbButton status="primary" [disabled]="submitted || !addagent.valid"
                (click)="onSubmit()">Add
                Agent</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>


  </div>
</div>