
<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>Please Add Queue </nb-card-header>
    
    <nb-card-body>
        <form [formGroup]="queueForm" autocomplete="off">
            <div class="form-group row">
                <label for="name" class="label col-sm-2 col-form-label">Queue Name</label>
                <div class="col-sm-10">
                    <input type="input" nbInput fullWidth id="name" formControlName="name"
                    placeholder="Please enter queue name">
                    <div *ngIf="formControls.name.invalid && (formControls.name.dirty || formControls.name.touched)"
                    class="invalid-feedback-frm">
                  <div *ngIf="formControls.name.errors.required">
                    Name is required.
                  </div>
                  <div *ngIf="formControls.name.errors.minlength">
                    Name must be at least 2 characters long.
                  </div>
                  <div *ngIf="formControls.name.errors.maxlength">
                    Name can be 100 characters long.
                  </div>
                </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="label col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                    <input type="input" nbInput fullWidth id="description" formControlName="description"
                    placeholder="Please enter description">
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                  <button type="submit" class="btn btn-primary" status="primary" 
                  [disabled]="queueForm.invalid || isSubmitted"
                  (click)="addQueue()">Add Queue</button>
                </div>
              </div>
        </form>
    </nb-card-body>
</nb-card>
</div>
</div>