<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-8 col-lg-8 col-xxxl-12">Credentials List</div>
      <div class="col-md-4 col-lg-4 col-xxxl-12 text-right">
        <button class="btn btn-primary" (click)="addCredential()">
          Add Credential
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-lg-3 col-xxxl-12">
        <label>Page Size</label>
        <select class="custom-select" (change)="selectChange($event)">
          <!-- formControlName="itemsPerPage" -->
          <option *ngFor="let item of itemsPerPage" [value]="item">
            {{ item }}
          </option>
        </select>
      </div>
    </div>
    <!-- <form [formGroup]="queueForm" class="form-group row">
      <label for="queueitemtype" class="label col-md-2 col-sm-2 col-form-label"
        >Please Select Queue</label
      >
      <div class="col-md-4 col-lg-4 col-xxxl-12">
        <select
          class="custom-select"
          (change)="selectChange($event, 'null')"
          formControlName="id"
        >
          <option *ngFor="let item of queuesArr" [value]="item?.id">
            {{ item?.name }}
          </option>
        </select>
      </div> -->
    <!-- <div class="col-md-1 col-lg-1 col-xxxl-12">
        <button class="btn btn-primary" (click)="addQueue()" [disabled]="!show">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div> -->
    <!-- <div class="col-md-2 col-lg-2 col-xxxl-12">
        <div class="checkbox checbox-switch switch-primary">
          Watch
          <label>
            <input type="checkbox" (click)="watchRealTimeData($event)" />
            <span></span>
          </label>
        </div>
      </div> -->
    <!-- <div class="col-md-3 col-lg-3 col-xxxl-12">
          <label>Page Size</label>
          <select
            class="custom-select"
            (change)="selectChange($event, 'pageSize')"
            formControlName="itemsPerPage"
          >
            <option *ngFor="let item of itemsPerPage" [value]="item">
              {{ item }}
            </option>
          </select>
        </div> -->
    <!-- </form> -->
  </nb-card-header>
  <nb-card-body>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">
            Name
            <span *ngIf="credentialsArr && credentialsArr.length !== 1">
              <i
                (click)="onSortClick($event, 'name')"
                class="my-icon fa fa-chevron-up"
              ></i>
            </span>
          </th>
          <th scope="col">
            Provider
            <span *ngIf="credentialsArr && credentialsArr.length !== 1">
              <i
                (click)="onSortClick($event, 'provider')"
                class="my-icon fa fa-chevron-up"
              ></i>
            </span>
          </th>
          <th scope="col">
            Domain
            <span *ngIf="credentialsArr && credentialsArr.length !== 1">
              <i
                (click)="onSortClick($event, 'domain')"
                class="my-icon fa fa-chevron-up"
              ></i>
            </span>
          </th>
          <th scope="col">
            User Name
            <span *ngIf="credentialsArr && credentialsArr.length !== 1">
              <i
                (click)="onSortClick($event, 'userName')"
                class="my-icon fa fa-chevron-up"
              ></i>
            </span>
          </th>
          <th scope="col">
            Start Date
            <span *ngIf="credentialsArr && credentialsArr.length !== 1">
              <i
                (click)="onSortClick($event, 'startDate')"
                class="my-icon fa fa-chevron-up"
              ></i>
            </span>
          </th>
          <th scope="col">
            End Date
            <span *ngIf="credentialsArr && credentialsArr.length !== 1">
              <i
                (click)="onSortClick($event, 'endDate')"
                class="my-icon fa fa-chevron-up"
              ></i>
            </span>
          </th>
          <th scope="col">Details</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="
            let data of credentialsArr
              | paginate
                : {
                    id: '1',
                    itemsPerPage: page.pageSize,
                    currentPage: page.pageNumber,
                    totalItems: page.totalCount
                  }
          "
        >
          <td>{{ data.name }}</td>
          <td>{{ data.provider }}</td>
          <td>{{ data.domain }}</td>
          <td>{{ data.userName }}</td>
          <td>{{ data.startDate | timeDate: 'LL' }}</td>
          <td>{{ data.endDate | timeDate: 'LL' }}</td>
          <td>
            <a (click)="viewCredential(data?.id)"
              ><i class="fa fa-eye" aria-hidden="true"></i
            ></a>
          </td>
          <td>
            <a (click)="editCredential(data?.id)">
              <i class="fa fa-edit" aria-hidden="true"> </i>
            </a>
          </td>
          <td>
            <a (click)="openDeleteDialog(deleteDialog, data?.id)">
              <img
                src="../../../assets/images/del-icon.png"
                alt="Delete Icon"
              />
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls
      id="1"
      class="paginateDiv"
      previousLabel="Prev"
      nextLabel="Next"
      responsive="true"
      (pageChange)="pageChanged($event)"
      (pageBoundsCorrection)="pageChanged($event)"
      directionLinks="true"
      autoHide="true"
      screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page"
      screenReaderCurrentLabel="You're on page"
    ></pagination-controls>
  </nb-card-body>
</nb-card>

<ng-template #deleteDialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      <h6>Delete Queue Item</h6>
    </nb-card-header>
    <nb-card-body>
      <div aria-labelledby="title">
        <p>Are you Sure you want to delete?</p>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button class="btn btn-danger" (click)="deleteCredential(ref)">
        Delete
      </button>
      <button nbButton style="margin-left: 11px" (click)="ref.close()">
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
