<!-- <div class="form-group">
    <label for="exampleInputEmail1" class="label">Email address</label>
    <input type="email" nbInput fullWidth id="exampleInputEmail1" placeholder="Email">
  </div> -->
  <div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>Jobs details of {{show_alljobs.name}} </nb-card-header>
        <nb-card-body>
          <form [formGroup]="showjobs"  >
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group ">
                      <label for="agentname" class="label  col-form-label">Process Id </label>
                      
                       <input type="input" nbInput fullWidth id="agentname" formControlName="processId"    style="color:#000000" >
                       
                      </div>
                    </div>
                    
                        <div class="col-md-6">
                          <div class="form-group ">
                            <label for="agentname" class="label  col-form-label">Process Name </label>
                            
                             <input type="input" nbInput fullWidth id="agentname"   style="color:#000000" >
                            </div>
                          </div> 
                       
              </div>
           
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group ">
                      <label for="agentname" class="label  col-form-label">Agent Id </label>
                      
                       <input type="input" nbInput fullWidth id="agentname" formControlName="agentId"    style="color:#000000" >
                       
                      </div>
                    </div>
                    
                        <div class="col-md-6">
                          <div class="form-group ">
                            <label for="agentname" class="label  col-form-label">Agent Name </label>
                            
                             <input type="input" nbInput fullWidth id="agentname"   style="color:#000000" >
                            </div>
                          </div> 
                       
              </div>







              <div class="row">
                <div class="col-md-6">
                    <div class="form-group ">
                      <label for="agentname" class="label  col-form-label">Start Time </label>
                      
                       <input type="input" nbInput fullWidth id="agentname" formControlName="startTime"    style="color:#000000" >
                       
                      </div>
                    </div>
                    
                        <div class="col-md-6">
                          <div class="form-group ">
                            <label for="agentname" class="label  col-form-label">Start Time  </label>
                            
                             <input type="input" nbInput fullWidth id="agentname" formControlName="endTime"     style="color:#000000" >
                            </div>
                          </div> 
                       
              </div>



              <div class="row">
                <div class="col-md-6">
                    <div class="form-group ">
                      <label for="agentname" class="label  col-form-label">Enqueue Time </label>
                      
                       <input type="input" nbInput fullWidth id="agentname" formControlName="enqueueTime"    style="color:#000000" >
                       
                      </div>
                    </div>
                    
                        <div class="col-md-6">
                          <div class="form-group ">
                            <label for="agentname" class="label  col-form-label">Dequeue Time  </label>
                            
                             <input type="input" nbInput fullWidth id="agentname" formControlName="dequeueTime"     style="color:#000000" >
                            </div>
                          </div> 
                       
              </div>



              <div class="row">
                <div class="col-md-6">
                    <div class="form-group ">
                      <label for="agentname" class="label  col-form-label">Job Status </label>
                      
                       <input type="input" nbInput fullWidth id="agentname" formControlName="jobStatus"    style="color:#000000" >
                       
                      </div>
                    </div>
                    
                        <div class="col-md-6">
                          <div class="form-group ">
                            <label for="agentname" class="label  col-form-label">Is Successful  </label>
                            
                             <input type="input" nbInput fullWidth id="agentname" formControlName="isSuccessful"     style="color:#000000" >
                            </div>
                          </div> 
                       
              </div>
              <div class="row">
                <div class="col-md-12">
                    <div class="form-group ">
                      <label for="agentname" class="label  col-form-label">Message </label>
                      
                       <textarea type="input" rows="10" nbInput fullWidth id="agentname" formControlName="message"    style="color:#000000" >
                       </textarea>

                      </div>
                    </div>
                    
                         
                       
              </div>







             
             

 
              
          </form>
        </nb-card-body>
      </nb-card>
  
      
    </div>
    </div>