.p-text{
    background-color: #f7f9fc;
    border-radius: 7px;
}
.text-color{
   
    color: #000000;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 8px 30px;
    cursor: pointer;
    font-size: 14px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }