<!-- <div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>Binary Objects </nb-card-header>
            <nb-card-body>
                <form [formGroup]="binaryObjectsForm" autocomplete="off">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label for="name" class="label  col-form-label">Name</label>
                                <input type="input" nbInput fullWidth id="name" formControlName="name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label for="contentType" class="label  col-form-label">Content Type</label>
                                <input type="input" nbInput fullWidth id="contentType" formControlName="contentType">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label for="corelationEntity" class="label  col-form-label">Corelation Entity</label>
                                <input type="input" nbInput fullWidth id="corelationEntity" formControlName="corelationEntity">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label for="storagePath" class="label  col-form-label">Storage Path</label>
                                <input type="input" nbInput fullWidth id="storagePath" formControlName="storagePath">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label for="storageProvider" class="label  col-form-label">Storage Provider</label>

                                <input type="input" nbInput fullWidth id="storageProvider" formControlName="storageProvider">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group ">
                                <label for="sizeInBytes" class="label  col-form-label">Size In Bytes</label>

                                <input type="input" nbInput fullWidth id="sizeInBytes" formControlName="sizeInBytes">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label for="hashCode" class="label  col-form-label">Hash Code</label>
                                <input type="input" nbInput fullWidth id="hashCode" formControlName="hashCode">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label for="isDeleted" class="label  col-form-label">Is Deleted</label>
                                <input type="input" nbInput fullWidth id="isDeleted" formControlName="isDeleted">
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label for="createdBy" class="label  col-form-label">Created By</label>
                                <input type="input" nbInput fullWidth id="createdBy" formControlName="createdBy">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group ">
                                <label for="createdOn" class="label  col-form-label">Created On</label>
                                <input type="input" nbInput fullWidth id="createdOn" formControlName="createdOn">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label for="deletedBy" class="label  col-form-label">Deleted By</label>
                                <input type="input" nbInput fullWidth id="deletedBy" formControlName="deletedBy">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group ">
                                <label for="deleteOn" class="label  col-form-label">Delete On</label>
                                <input type="input" nbInput fullWidth id="deleteOn" formControlName="deleteOn">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label for="timestamp" class="label  col-form-label">Time Stamp</label>
                                <input type="input" nbInput fullWidth id="timestamp" formControlName="timestamp">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group ">
                                <label for="updatedOn" class="label  col-form-label">Updated On</label>
                                <input type="input" nbInput fullWidth id="updatedOn" formControlName="updatedOn">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label for="updatedBy" class="label  col-form-label">Updated By</label>
                                <input type="input" nbInput fullWidth id="updatedBy" formControlName="updatedBy">
                            </div>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div> -->

<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-8 col-lg-8 col-xxxl-12">Binary Objects</div>
      <form
        [formGroup]="binaryObjectsForm"
        class="col-md-3 col-lg-3 col-xxxl-12"
      >
        Page Size
        <select
          class="custom-select"
          (change)="selectChange($event)"
          formControlName="itemsPerPage"
        >
          <option *ngFor="let item of itemsPerPage" [value]="item">
            {{ item }}
          </option>
        </select>
      </form>
    </div>
  </nb-card-header>
  <nb-card-body>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Content Type</th>
          <th scope="col">Corelation Entity</th>
          <th scope="col">Storage Path</th>
          <th scope="col">Storage Provider</th>
          <th scope="col">Size In Bytes</th>
          <th scope="col">Deleted</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let data of binaryObjectsData
              | paginate
                : {
                    id: '1',
                    itemsPerPage: page.pageSize,
                    currentPage: page.pageNumber,
                    totalItems: page.totalCount
                  }
          "
        >
          <td>{{ data.name }}</td>
          <td>{{ data.contentType }}</td>
          <td>{{ data.corelationEntity }}</td>
          <td>{{ data.storagePath }}</td>
          <td>{{ data.storageProvider }}</td>
          <td>{{ data.sizeInBytes }}</td>
          <td>
            <a (click)="openDeleteDialog(deleteDialog, data?.id)">
              <img
                src="../../../assets/images/del-icon.png"
                alt="Delete Icon"
              />
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls
      id="1"
      class="paginateDiv"
      previousLabel="Prev"
      nextLabel="Next"
      responsive="true"
      (pageChange)="pageChanged($event)"
      (pageBoundsCorrection)="pageChanged($event)"
      directionLinks="true"
      autoHide="true"
      screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page"
      screenReaderCurrentLabel="You're on page"
    ></pagination-controls>
  </nb-card-body>
</nb-card>

<ng-template #deleteDialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      <h6>Delete Binary Object</h6>
    </nb-card-header>
    <nb-card-body>
      <div aria-labelledby="title">
        <p>Are you sure you want to delete?</p>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button class="btn btn-danger" (click)="deleteBinaryObjects(ref)">
        Delete
      </button>
      <button nbButton style="margin-left: 11px" (click)="ref.close()">
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
