
//  @import '~bootstrap/scss/mixins/breakpoints';
//  @import '~@nebular/theme/styles/global/breakpoints';
 
//  @import '../../../@theme/styles/themes';
 
//  @include nb-install-component() {
//    button + button {
//      margin-left: 2rem;
//    }
 
//    @include media-breakpoint-down(xxl) {
//      nb-card-body {
//        display: flex;
//      }
 
//      button {
//        flex: 1;
//        padding: 0.8rem;
//      }
//    }
 
//    @include media-breakpoint-down(is) {
//      nb-card-body {
//        display: block;
//      }
 
//      button {
//        + button {
//          margin-left: 0;
//        }
 
//        width: 100%;
//        display: block;
//        margin-bottom: 2rem;
//        padding: 0.75rem;
//      }
//    }
//  }

//  .container {
//   padding: 2rem 0rem;
// }
.my-icon{
  font-size: 14px;
  color: gray;
  cursor: pointer;
  margin-left: 10px;
}

h4 {
  margin: 2rem 0rem 1rem;
}

.table-image {
  td, th {
    vertical-align: middle;
  }
}
.table tbody tr:nth-child(even) {
		background-color: #f1f1f1;
	}
	.table tbody tr td:first-child {
		color: #3163c4;
  }
  

//   nb-card-body {
//     overflow: visible;
//     padding-top: 0;
  
//     > * {
//       margin-top: 1rem;
//     }
//   }
  
// .full-name-inputs,
// .validation-checkboxes {
//   display: flex;
//   margin: 0 -0.5rem;

//   > * {
//     margin: 0 0.5rem;
//   }
// }

.agent-fil{
    left: 15px;
}

 
  .ngx-pagination {
    padding-left: 0px !important;
  }
  
  .ngx-pagination .current,
  .btn-info {
    background: #17a2b8 !important;
    border: transparent !important;
    border-radius: 20px !important;
  }
  
  .ngx-pagination .current:hover {
    background: #17a2b8 !important;
    border-radius: 20px !important; 
    border: transparent !important;
  }
  .paginateDiv{
    text-align: center;
    width: 100%;;
  }


  .top-perpage{
    top:10px
  }