<nb-card>

    <nb-card-header>
        <div class="row">
            <div class="col-md-8 col-lg-8 col-xxxl-12"> All Jobs</div>


        </div>
        <div class="row">
            <div class="col-md-8 col-lg-8 col-xxxl-12">

            </div>
            <div class="col-md-4 col-lg-4 col-xxxl-12 top-perpage">
                <div class="form-group row">
                    <div class="col-md-1"></div>
                    <label for="queueitemtype" class="label col-md-3 col-form-label label-page ">Page Size</label>
                    <div class="col-sm-8">
                        <select class="custom-select" (change)="per_page($event.target.value)">
                            <option [value]="5"> 5 per page
                            </option>
                            <option [value]="10"> 10 per page
                            </option>
                            <option [value]="25"> 25 per page
                            </option>
                            <option [value]="50"> 50 per page
                            </option>
                            <option [value]="100"> 100 per page
                            </option>
                        </select>

                    </div>
                </div>
            </div>
        </div>
    </nb-card-header>

    <nb-card-body>
        <div class="row">
            <div class="col-md-3 col-lg-3 agent-fil">
                <div class="form-group row">
                    <label for="queueitemtype" class="label  col-form-label " style="width: 100px;">Agent</label>
                    <select class="custom-select" style="
                            width: 242px;
                        " (change)="per_page($event.target.value)">
                        <option [value]="5"> Agent
                        </option>

                    </select>
                    <!-- <div class="col-sm-8">
                                
        
                            </div> -->
                </div>
            </div>
            <div class="col-md-3 col-lg-3 ">
                <div class="form-group row">
                    <label for="queueitemtype" class="label  col-form-label " style="width: 100px;">Process </label>
                    <select class="custom-select" style="
                            width: 242px;
                        " (change)="per_page($event.target.value)">
                        <option [value]="5">Process
                        </option>

                    </select>
                    <!-- <div class="col-sm-8">
                                
        
                            </div> -->
                </div>
            </div>
            <div class="col-md-3 col-lg-3  ">
                <div class="form-group row">
                    <label for="queueitemtype" class="label  col-form-label " style="width: 100px;">Status</label>
                    <select class="custom-select" style="
                            width: 242px;
                        " (change)="per_page($event.target.value)">
                        <option [value]="5"> InProgress
                        </option>

                    </select>
                    <!-- <div class="col-sm-8">
                                
        
                            </div> -->
                </div>
            </div>
            <div class="col-md-3 col-lg-3  ">
                <div class="form-group row">
                    <label for="queueitemtype" class="label  col-form-label ">Successful</label>
                    <select class="custom-select" style="
                            width: 242px;
                        " (change)="per_page($event.target.value)">
                        <option [value]="5">Yes
                        </option>

                    </select>
                    <!-- <div class="col-sm-8">
                                
        
                            </div> -->
                </div>
            </div>
        </div>
        <table class="table table-bordered">

            <thead>
                <tr>
                    <th scope="col">Process ID <i (click)="onSortClick($event)" class="my-icon fa fa-chevron-up"></i>
                    </th>
                    <!-- <th scope="col">Process Name</th> -->
                    <th scope="col">Agent ID</th>
                    <!-- <th scope="col">Agent Name</th> -->
                    <th scope="col">Start Time </th>
                    <th scope="col">End Time</th>
                    <th scope="col">Job Status</th>

                    <th scope="col">Successful</th>
                    <th scope="col">View</th>

                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let jobs of show_alljobs | paginate: {id: '1', 
                         itemsPerPage: page.pageSize,
                        currentPage: page.pageNumber,
                        totalItems: page.totalCount}">




                    <th scope="row">
                        <p> {{jobs.agentId}} </p>
                    </th>
                    <!-- <th scope="row"  >
                            <p  > Agent Name </p>
                        </th> -->
                    <th scope="row">
                        <p> {{jobs.processId}} </p>
                    </th>
                    <!-- <th scope="row"  >
                            <p  >Process Name</p>
                        </th> -->




                    <th scope="row">
                        <p> {{jobs.startTime  | date:'medium'  }} </p>
                    </th>
                    <th scope="row">
                        <p> {{jobs.endTime  | date:'medium' }} </p>
                    </th>
                    <th scope="row">
                        <p> {{jobs.jobStatus}} </p>
                    </th>
                    <th scope="row" *ngIf="jobs.isSuccessful == true ">
                        <p> yes</p>
                    </th>
                    <th scope="row" *ngIf="jobs.isSuccessful == false ">
                        <p> No</p>
                    </th>





                    <td>

                        <a (click)="gotodetail(jobs.id)">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>

                    </td>


                </tr>
            </tbody>
        </table>



    </nb-card-body>

    <nb-card-body>


        <div class="paginateDiv">
            <pagination-controls id="1" class="paginateDiv" previousLabel="Prev" nextLabel="Next" responsive="true"
                (pageChange)="pageChanged($event)" (pageBoundsCorrection)="pageChanged($event)" directionLinks="true"
                autoHide="true" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                screenReaderCurrentLabel="You're on page"></pagination-controls>
        </div>


    </nb-card-body>






</nb-card>



<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>
            <h6> Delete Agent</h6>


        </nb-card-header>
        <nb-card-body>
            <div aria-labelledby="title">

                <p>Are you Sure you want to delete? </p>

            </div>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton status="primary" (click)="del_agent(ref)">
                Yes
            </button>
            <button nbButton style="margin-left: 11px;" (click)="ref.close()">No</button>
        </nb-card-footer>
    </nb-card>
</ng-template>