<!-- <div class="form-group">
    <label for="exampleInputEmail1" class="label">Email address</label>
    <input type="email" nbInput fullWidth id="exampleInputEmail1" placeholder="Email">
  </div> -->
  <div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>Asset details of {{show_allagents.name}} </nb-card-header>
        <nb-card-body>
          <form [formGroup]="addagent"  >
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group ">
                      <label for="agentname" class="label  col-form-label">Name</label>
                      
                       <input type="input" nbInput fullWidth id="agentname" formControlName="name"    style="color:#000000" >
                       
                      </div>
                    </div>
                    
                        <div class="col-md-6">
                          <div class="form-group ">
                            <label for="agentname" class="label  col-form-label">Type </label>
                            
                             <input type="input" nbInput fullWidth id="agentname" formControlName="type"  style="color:#000000" >
                            </div>
                          </div> 
                       
              </div>
              <div class="row" >

                 <!-- Number Text JSON -->

                 <div class="col-md-12" *ngIf="show_allagents.type == 'Number'" >
                  <div class="form-group ">
                    <label for="agentname" class="label  col-form-label">Number </label>
                
                     <input type="input" nbInput fullWidth id="numberValue" formControlName="numberValue" style="color:#000000"  >
               
                   
                    </div>
                  </div>




                  <div class="col-md-12" *ngIf="show_allagents.type == 'Text'" >
                    <div class="form-group ">
                      <label for="agentname" class="label  col-form-label">Text </label>
                     
                       <textarea rows="10" type="input" nbInput fullWidth id="textValue" formControlName="textValue"  style="color:#000000" >
                         </textarea>

               
                       
                      </div>
                    </div>


                  <div class="col-md-12" *ngIf="show_allagents.type == 'JSON'" >
                    <div class="form-group ">
                      <label for="agentname" class="label  col-form-label">Value Json</label>
                      <p class="p-text">
                       <!-- <input type="input" nbInput fullWidth id="agentname" formControlName="jsonValue"  > -->
                       <ngx-json-viewer [json]="jsonValue" [expanded]="false"></ngx-json-viewer>
                       </p>
                      </div>
                    </div>
                  
              </div>



              <div class="row" >


                <div class="col-md-6"   >
                 <div class="form-group ">
                   <label for="createdBy" class="label  col-form-label">Created By  </label>
               
                    <input type="input" nbInput fullWidth id="createdBy" formControlName="createdBy" style="color:#000000"  >
              
                  
                   </div>
                 </div>




                 <div class="col-md-6"  >
                   <div class="form-group ">
                     <label for="createdOn" class="label  col-form-label">Created On </label>
                   
                      <input   type="input" nbInput fullWidth id="createdOn" formControlName="createdOn"  style="color:#000000">
                       

                     
                      
                     </div>
                   </div>

 
             </div>

             <div class="row" >


              <div class="col-md-6"   >
              
                 <label for="createdBy" class="label  col-form-label">Download now  </label>
             
               <br/>
                   <button class="btn" (click)="onDown()"><i class="fa fa-download"></i> Download</button>
           
               </div>
               </div>

 
              
          </form>
        </nb-card-body>
      </nb-card>
  
      
    </div>
    </div>