<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-8 col-lg-8 col-xxxl-12">All Audit logs</div>
    </div>
    <div class="row">
      <div class="col-md-8 col-lg-8 col-xxxl-12">
        <div class="form-group row">
          <label for="queueitemtype" class="label col-sm-3 col-form-label"
            >Please Select Service Name</label
          >
          <div class="col-sm-9">
            <select
              class="custom-select"
              (change)="get_service_name($event.target.value)"
            >
              <option value="" [disabled]="true" selected>
                Please select Service Name
              </option>
              <option
                *ngFor="let item of show_service_name"
                [value]="item"
              >
                {{ item }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-xxxl-12">
        <div class="form-group row">
          <div class="col-md-1"></div>
          <label
            for="queueitemtype"
            class="label col-md-3 col-form-label label-page"
            >Page Size</label
          >
          <div class="col-sm-8">
            <select
              class="custom-select"
              (change)="per_page($event.target.value)"
            >
              <option [value]="5">5 per page</option>
              <option [value]="10">10 per page</option>
              <option [value]="25">25 per page</option>
              <option [value]="50">50 per page</option>
              <option [value]="100">100 per page</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">
            Service
            <i
              (click)="onSortClick($event, 'serviceName')"
              class="my-icon fa fa-chevron-up"
            ></i>
          </th>
          <th scope="col">
            Method
            <i
              (click)="onSortClick($event, 'methodName')"
              class="my-icon fa fa-chevron-up"
            ></i>
          </th>
          <th scope="col">
            Created By
            <i
              (click)="onSortClick($event, 'createdBy')"
              class="my-icon fa fa-chevron-up"
            ></i>
          </th>
          <th scope="col">
            Created On
            <i
              (click)="onSortClick($event, 'createdOn')"
              class="my-icon fa fa-chevron-up"
            ></i>
          </th>

          <th scope="col">View</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let audit of show_allagents
              | paginate
                : {
                    id: '1',
                    itemsPerPage: page.pageSize,
                    currentPage: page.pageNumber,
                    totalItems: page.totalCount
                  }
          "
        >
          <th>
            <p>{{ audit?.serviceName }}</p>
          </th>
          <th scope="row">
            <p (click)="gotodetail(audit.id)">{{ audit?.methodName }}</p>
          </th>
          <th>
            <p>{{ audit?.createdBy }}</p>
          </th>
          <th>
            <p>{{ audit.createdOn | timeDate: 'LLL' }}</p>
          </th>

          <td>
            <a (click)="gotodetail(audit.id)">
              <i class="fa fa-eye" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>

  <nb-card-body>
    <div class="paginateDiv">
      <pagination-controls
        id="1"
        class="paginateDiv"
        previousLabel="Prev"
        nextLabel="Next"
        responsive="true"
        (pageChange)="pageChanged($event)"
        (pageBoundsCorrection)="pageChanged($event)"
        directionLinks="true"
        autoHide="true"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page"
      ></pagination-controls>
    </div>
  </nb-card-body>
</nb-card>
